.blog-header {
    background-color: pink;
}
.my-register {
    margin-right: 15px;
}
.link-secondary {
    margin-left: 15px;
}
.user-photo {
    position: relative;
    left: 10px;
    width: 20px;
    border-radius: 10px;
}
.add-post {
    width: 100%;
    margin: auto 0;
}
.hasDatepicker {
    justify-content: center;
    align-items: center;
    display: flex;
}

.delete-book-btn {
    margin-right: 10px;
}
.user-detail-create-book {
    text-decoration: none;
}
.list-unstyled a, li {
    color: #188bfd;
}

@media screen and (max-width: 900px) {
    .my-register {
        display: none;
    }
    .blog-header-logo {
        font-size: 1rem;
    }
    .register-mobile {
        padding-top: 15px;
        text-align: center;
    }
    .nav-scroller {
        display: none;
    }
    .link-secondary {
        display: none;
    }

}
@media screen and (min-width: 900px) {
    .register-mobile {
        display: none;
    }
    .dropbtn {
        display: none;
    }
    .certificates {
        width: 60%;
        margin-left: 20%;
    }
}
